# Maven
target/
*.jar
*.war
*.ear
*.log
.mvn/wrapper/maven-wrapper.properties

# Node
node_modules/
dist/
.angular/

# IDEs
.idea/
.vscode/
*.iml
.classpath
.project
.settings/

# OS
.DS_Store
Thumbs.db
